.logo {
    width: 25%;
    margin-left: 15px;
    border: 1px solid #222;
    padding: 2px;
    border-radius: 5px;
  }
  
  .nav-theme {
    background-color: #fff;
    font-size: 20px;
  }
  
  .animate-navbar {
    box-shadow: 1px 1px 1px #222;
    animation: moveDown 0.5s ease-in-out;
  }
  .ml-auto{
      margin-right: 25px;
      font-size: 1.1rem;
      font-weight: 400;
  }
  .ml-auto Nav-Link:hover{
    border-bottom: 1px solid #222;
}
  
  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }